<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>{title}</title>
</head>
<body>
    <p>Title: <span id="title">{title}</span></p>
    <p>Timestamp: <span id="timestamp">{timestamp}</span></p>
    <p>Digest: <span id="digest">{digest}</span></p>
    <p id="links">{links}</p>
    <pre id="data">
{data}
    </pre>
    <hr />
    <h4>tails_python.sh</h4>
    <pre>
{tails_python}
    </pre>
    <hr />
    <h4>rsa_from_passphrase.py</h4>
    <pre>
{rsa_from_passphrase}
    </pre>
    <hr />
    <h4>decrypt_file.py</h4>
    <pre>
{decrypt_file}
    </pre>
</body>
</html>